APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

SECONDARY_DB_CONNECTION=secondary
SECONDARY_DB_HOST=127.0.0.1
SECONDARY_DB_PORT=5432
SECONDARY_DB_DATABASE=digimc
SECONDARY_DB_USERNAME=
SECONDARY_DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=30
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

RECAPTCHA_SITE_KEY=SITE_KEY_EXAMPLE
RECAPTCHA_SECRET_KEY=SECRET_KEY_EXAMPLE
RECAPTCHA_ENABLED=true

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

ADMIN_PASSWORD=


MATOMO_URL=
MATOMO_SITE_ID=
MATOMO_TOKEN=
MATOMO_COUNTER_CACHE_TTL=30
MATOMO_TIMEOUT=1.2
MATOMO_CONNECT_TIMEOUT=0.3

RUN_SECONDARY_MIGRATION=false

IIIF_SERVER_URL=http://93.123.103.229:8182/iiif/2/
CDN_BASE_URL=https://pub.cdn.trilio-tech.org/
VIDEO_SIGNING_API_URL=test@api.com

EGOV_CLIENT=testclientid123
EGOV_SECRET=testclientsecret123
EGOV_APPLICANT_UIN_TYPE=1
EGOV_APPLICANT_UIN=7501011234
EGOV_CREATE_REQUEST_URL=https://pay-test.egov.bg:44310/api/v1/eService/paymentJsonExtended
EGOV_STATUS_URL=https://pay-test.egov.bg:44310/api/v1/eService/paymentsStatus
EGOV_SUSPEND_REQUEST_URL=https://pay-test.egov.bg:44310/api/v1/eService/suspendRequest
EGOV_PAYMENT_URL=https://pay-test.egov.bg/Home/AccessByCode
EGOV_CALLBACK_URL=https://your-domain.com/api/payments/callback
EGOV_BASE_URL=https://pay-test.egov.bg:44310/
